name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 1 * *" # 1 day of every month

jobs:
  test-macos:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-14, macos-15, macos-26]
        record: [true, false]
        ignoreTccDb: [true, false]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Guidepup Setup
        uses: ./
        with:
          record: ${{ matrix.record }}
          ignoreTccDb: ${{ matrix.ignoreTccDb }}
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: artifacts-${{ matrix.os }}-${{ matrix.record }}-${{ matrix.ignoreTccDb }}
          path: |
            **/recordings/**/*

  test-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022, windows-2025]
        nvdaInstallDir: ["", "C:\\a\\setup-action\\setup-action\\nvda"]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Guidepup Setup
        uses: ./
        with:
          nvdaInstallDir: ${{ matrix.nvdaInstallDir }}
      - run: Get-ChildItem ${{ matrix.nvdaInstallDir }}
